.container{
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    width: calc(100% / 17);
    height: 35px; 
}

button{
    margin-bottom: 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a6268;
}